 html,body{
    margin:0;
	background-color: #F2EEEB;
}
div#tarjeta img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
div#mapa1{
	position: absolute;
	top : 0;
	left: 0;
}
div#mapa2{
	position: absolute;
	top : 0;
	left: 0;
}