/*
img{
  #display:block;
  #height:100%;
  object-fit: cover;
  margin: auto;  
}
div {
    text-align: center;
	vertical-align: center;
	max-width:100%;
}
*/
 html,body{
    margin:0;
	background-color: #F2EEEB
}
 #container {
    display: flex;             
    flex-direction: column;
    justify-content: center;
    align-items: center;       
    height: 100%;
}